body{
    background-color: rgba(7, 189, 134, 0.363);
}






.cal{
    margin: 0 auto;
    width: 200px;
    background: rgba(121, 113, 115, 0.411);
    
    
}


.cal input{
    padding: 10px;
    width: 90%;
}

.btn-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.btn{
    padding: 15px;
    margin: 5px;
}
